#for-director {
    background-color:#f8f8f8;
    color:#959595;
}

#subject {
    padding-top:0;
    margin:0;
    display:inline-block;
    position:relative;
    top:-8px;
}

#new-select-style {
    margin:50px 0 0 12px;
}

#row1 #new-select-style select {
    width:190px;
}

#row2 #textarea {
    overflow:auto;
    position:relative;
    top:-83px;
    border:0;
    background-image:url(images/message.png);
    background-repeat:no-repeat;
    width:436px;
}

#textarea2 {
    position:absolute;
    left:-9999px;
}

.checkbox {
    position:relative;
    top:-72px;
}

#row2 label {
    padding:0 10px 0 10px;
    position:relative;
    top:-75px;
}


.form-style {
    border:0;
}

#fio1 {
    background-image:url(images/fio.png);
    background-repeat:no-repeat;
    width:457px;
    height:20px;
    margin-bottom:11px;
}

#email1, #phone1 {
    background-image:url(images/email.png);
    background-repeat:no-repeat;
    height:18px;
    width:215px;
}

#phone1 {
    float:right;
}

#row2 button {
    background-color:#ffffff;
    background-image:url(images/button.png);
    background-repeat:no-repeat;
    width:171px;
    height:42px;
    position:relative;
    top:-70px;
}